
footer {
	position: fixed;
	padding: 10px 0;
	text-align: center;
	bottom: 0;
	background-color: #101010;
	color: #9d9d9d;
	width: 100%;
}
.text-centre {
	text-align: center;
	text-size:50%;
}
body {
	background-color: skyblue ;
}

	.question1{
	padding: 100px 100px 100px 100px;
	margin:content
	font-style: oblique;


}
.instructions{
	text-align-last: left;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 200px 100px 100px 100px;
	font-size: 20px;
}
.btn1{
	text-align: center;   
width: 300px;  
height: 200px;  
padding-top: 100px; 
padding-left: 500px;
}
.btn2{
	text-align: center;   
width: 300px;  
height: 200px;  
padding-top: 100px; 
padding-left: 700px;
}
.question1{
	font-size: 15px;
}
.success{
	padding-top: 500px;
}